* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

main {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

@media (max-width: 768px) {
	main {
		display: flex;
		flex-direction: column;
	}
}

.header {
	width: 20%;
    height: 100%;
    position: fixed;
	display: flex;
	align-content: space-around;
}

.box-atividades {
	display:flex;
	justify-content: flex-end; 
}

@media (max-width: 768px) {
	.header {
	width: 100%;
	position: relative;
	}
}

.container {
	width: 100%;
}

@media (max-width: 768px) {
	.container {
	height: 37vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
}

.box-logo {
	height: 30%;
	display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
	.box-logo {
	width: 63%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;	}
}

.img-logo {
	width: 12vw;
}

@media (max-width: 768px) {
	.img-logo {
		width: 25vw
	}
}

.menu {
	width: 100%;
	height: 28%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
@media (max-width: 768px){
	.menu {
		width: 32%;
	    height: 28%;
	    display: flex;
	    flex-direction: row;
	    align-items: center;
	}

	.menuconfig{
		width: 100%;
	    height: 20vh;
	    flex-direction: row;
	}
}
.menu-hamburguer {
	display: none;
}
@media (max-width: 768px) {
	.menu-hamburguer {
	display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 24vw;
    height: 10vh;
    transition: all 0.3s ease-in-out;
	}
}

.menu-hamburguer-itens {
	margin-top: 10px;
	  width: 40px;
    height: 4px;
	  border-radius: 10px;
	  background: #A6538D;
	  transition: all 0.3s ease-in-out;
	}
.menu-lista {
	height: 100%;
	display: flex;
    justify-content: space-around;
    flex-direction: column;
	list-style: none;
	font-weight: bold;
}
@media (max-width: 768px) {
	.menu-lista{
		display: none;
	    width: 75%;
	    height: 100%;
	    justify-content: space-between;
	    flex-wrap: wrap;
	}
}

.menu-lista a {
	color: #A6538D;
	text-decoration: none;
	cursor: default;
}

.menu-lista a:hover {
	color: #ee4937;
	text-decoration: underline;
}

.menu-item {
	font-family: 'Korolev Bold';	
	font-size: 1.2rem;
	text-transform: uppercase;
	text-decoration: none;
}
@media (max-width: 768px) {
	.menu-item {
		height: 9vh;
	}
}

.caixa-fundo {
		display: flex;
    	justify-content: flex-end;
}
.fundo {
	width: 100vw;
	height: 100vh;
}

.home {
	width: 80%;
	height: 100vh;
	display: flex;
    justify-content: flex-end;
}
@media (max-width: 768px) {
	.home {
	width: 100%;
	}
}

.box-home {
	width: 100%;
	background-image: url('../img/fundo.png');
	background-size:cover;
	background-repeat: no-repeat;
	display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
	color: white;
	width: 55%;
	font-family: KorolevHeavy;
	font-size: 3.3rem;
}

@media (max-width: 768px) {
	h1 {
	width: 80%;
    font-size: 1.7rem
	}
}

.box-atividades {
	width: 80%;
	height: 115vh;
	display: flex;
}

@media (max-width: 768px) {
	.box-atividades {
	width: 100%;
    height: 100%;
	}
}

.box2 {
	display: flex;
	justify-content: space-around;
	background-color: #EB268F;
	height: 100%;
	width: 100%;
}

@media (max-width: 768px) {
	.box2 {
	flex-direction: column;
	margin: 0;
    display: flex;
    height: 100%;
    width: 88rem;
	}
}

.caixa-texto {
	margin-top: 10%;
    width: 39%;
    height: 35rem;
	display: flex;
	flex-direction: column;
    justify-content: center;
	color:white;
    padding-left: 4rem;
    line-height: 1.25rem;
}

@media (max-width: 768px) {
	.caixa-texto {
	padding-left: 4rem;
    line-height: 1.2;
    font-size: 1.3rem;
    width: 89%;
   height: 45%;
	}
}

.texto {
	font-family:  KorolevMedium;
}

.slide-foto {
	width: 133.2
}

.box3-atividades {
	width: 75%;
    height: 21rem;
    padding-left: 2rem;
}

@media (max-width: 768px) {
	.box3-atividades {
	width: 100%;
	height: 16rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
	}
}
.box3 {
 	width: 100%;
    display: flex;
    flex-direction: column;
 }

h2 {
 	font-size: 3rem;
 	color: #A6538D;
 	padding-top: 2.5rem;
 	font-family: KorolevBold;
 }

 @media (max-width: 768px) {
	h2 {
	display: flex;
    justify-content: center
	}
 }

  .logo1{
  	width: 20%
  }

  @media (max-width: 768px) {
  	.logo1 {
  		width: 23%
  	}
  }

  .logo2{
  	width: 25%;  	
  }

  @media (max-width: 768px) {
  	.logo2 {
  		width: 23%
  	}
  }

  .logo3{
  	width: 30%;  
  }

  @media (max-width: 768px) {
  	.logo3 {
  		width: 30%
  	}
  }

  .box3-logo {
  	height: 50%;
  	width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

 @media (max-width: 768px) {
 	.box3-logo {
 		width: 100%;

 	}
 }

  h3 {
  	font-size: 3rem;
  	color: #96D9FC;
  	width: 90%;
  	height: 25%;
  	font-family: KorolevBold;
  	display: flex;
    align-items: flex-end;
  }

  @media (max-width: 768px;) {
  	h3 {
    height: 37%;
  	}
  }

  .box4-atividades {
  	width: 80%;
  	display: flex;
  	justify-content: flex-end;
  }  
  @media (max-width: 768px) {
	.box4-atividades {
		width: 100%;
	}
}

  .box4 {
  	width: 100%;
  	height: 75vh;
	font-size: 1.2rem;
  	background-color:#A6538D;
  	display: flex;
  	justify-content: space-around;
  	flex-direction: column;
  	align-items: center;
  }

  @media (max-width: 768px) {
  	.box4 {
  		height: 85vh;

  	}
  }

.box-texto1 {
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  @media (max-width: 768px) {
  	.box-texto1 {
  	height: 60%;
  	}
  }
.texto1 {
	color: white;
	font-family: KorolevMedium;
	width: 45%;
	justify-content: space-around;
	align-items: center;
  }

  @media (max-width: 768px) {
  	.texto1 {
  	 width: 90%;
  	}
  }

.texto2 {
	color: #FDCD27;
	font-family: KorolevMedium;
	justify-content: space-around;
	align-items: center;
  }
.caixa-fim {
	height: 28vh;
    display: flex;
    align-items: flex-end;
}
@media (max-width: 768px) {
	.caixa-fim {
		height: 20%;
	}
}
.fim {
	width: 70vw;
    height: 22vh;
    display: flex;
    font-size: 0.8rem;
    align-items: center;
}

@media (max-width: 768px) {
	.fim {
		width: 80vw;
    	height: 100%;
	}
}

.logo4 {
	width: 3rem;
	height: 3rem;
  }

.slide{
	width: 60%;
  } 

  @media (max-width: 768px) {
  	.slide {
  	display: flex;
    flex-direction: column-reverse;
    margin-top: 10%;
  	}
  }

.box-slide {
	width: 100%; 
	height: 100.6%;
	display: flex;
   	justify-content: center;
    align-items: flex-end;
  }

  @media (max-width: 768px) {
  	.box-slide {
  	justify-content: flex-start;
  	width: 100%;
    height: 100.6%;
  	}
  }

  @media (max-width: 768px) {
  	.slide-box {
  		width: 100%;

  	}
  }

 .botao-texto{
  width: 81%;
 	display: flex;
 	align-items: center;
  justify-content: space-evenly;
 	font-family: KorolevLight;
 	font-size: 0.6rem
 }

 @media (max-width: 768px) {
 	.botao-texto {
  width: 100vw;
 	height: 7rem;
 	display: flex;
  font-size: 1.6rem;
 	}
 }

 .direita {
  width: 25px;
 }

 .esquerda {
  transform: rotate(180deg);
    width: 25px;
 }
.slide-foto{
	width: 133.2%;
 }
 @media (max-width: 768px) {
 	 .slide-foto {
 	width: 278%;
 	 }
 }