* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

@media (max-width: 768px) {
	.box2 {
		flex-direction: column;
	}
}


main {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

@media (max-width: 768px) {
	main {
		display: flex;
		flex-direction: column;
	}
}

.header {
	width: 20%;
    height: 100%;
    position: fixed;
	display: flex;
	align-content: space-around;
}

@media (max-width: 768px) {
	.box3-atividades {
		position: relative;
	}

.box-atividades {
	display:flex;
	justify-content: flex-end; 
}

@media (max-width: 768px) {
	.header {
		width: 100%;
		position: relative;
	}
}

.container {
	width: 100%;
}

@media (max-width: 768px;) {
	.conteiner {
	height: 13rem;
    width: 47.6rem;
}
}

.box-logo {
	height: 30%;
	display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo {
	width: 12vw;
}
.menu {
	width: 100%;
	height: 28%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.menu-hamburguer {
	display: none;
}
@media (max-width: 768px) {
	.menu-hamburguer {
	  display: block;
	  cursor: pointer;
	  width: 100%;
	  height: 100%;
	  transition: all 0.3s ease-in-out;
	}
}

.menu-hamburguer-itens {
	margin-top: 10px;
	  width: 60px;
	  height: 10px;
	  border-radius: 10px;
	  background: #A6538D;
	  transition: all 0.3s ease-in-out;
	}
.menu-lista {
	height: 100%;
	display: flex;
    justify-content: space-around;
    flex-direction: column;
	list-style: none;
	font-weight: bold;
}
@media (max-width: 768px) {
	.menu-lista{
		width: 10rem;
	}
}

.menu-lista a {
	color: #A6538D;
	text-decoration: none;
	cursor: default;
}

.menu-lista a:hover {
	color: #ee4937;
	text-decoration: underline;
}

.menu-item {
	
	font-size: 1.2rem;
	text-transform: uppercase;
	text-decoration: none;
	font-family: KorolevBold;
}

.caixa-fundo {
	display: flex;
    justify-content: flex-end;
}
.fundo {
	width: 100vw;
	height: 100vh;
}

.home {
	width: 80%;
	height: 100vh;
	display: flex;
    justify-content: flex-end;
}
@media (max-width: 768px) {
	.home {
		width: 100%;
	}

.box-home {
	width: 100%;
	background-image: url('../img/fundo.png');
	background-size:cover;
	background-repeat: no-repeat;
	display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
	color: white;
	width: 55%;
	font-family: KorolevHeavy;
	font-size: 3.3rem;
}

.box-atividades {
	width: 80%;
	height: 100vh;
	display: flex;
	justify-content: flex-end;
}

@media (max-width: 768px) {
	.box-atividades {
		width: 100%;
	}

.box2 {

	display: flex;
	justify-content: space-between;
	background-color: #EB268F;
	height: 100%;
	width: 100%;
}

.caixa-texto {
    width: 35%;
    height: 30rem;
	display: flex;
	flex-direction: column;
    justify-content: center;
	color:white;
    padding-left: 4rem;
    line-height: 1.25rem;
}

@media (max-width: 768px) {
	.caixa-texto {
		line-height: 2rem;
    	font-size: 1.8rem;
    	width: 88%;
    	height: 55rem;
	}
}

.texto {
	font-family:  KorolevMedium;
}

.slide-foto {
	width: 133.2
}

.box3-atividades {
	width: 80%;
	height: 25rem;
	padding-left: 2rem;
}

@media (max-width: 768px) {
	.box3-atividades {
		width: 100%;
	}
}
.box3 {
 	width:100%;
 	height: 25rem;
 	flex-direction: column;
    display: flex;
    justify-content: center;
 }

 h2 {
 	font-size: 3rem;
 	color: #A6538D;
 	padding-top: 2.5rem;
 	font-family: KorolevBold;
 }

  .logo1{
  	width: 10rem;
  	height:10rem;
  }

  .logo2{
  	width: 10rem;
  	height:5rem;  	
  }
  .logo3{
  	width: 10rem;
  	height:10rem;  
  }

  .box3-logo{
  	height: 50%;
  	width: 90%;
    display: flex;
    align-items: center;

  }
  h3 {
  	font-size: 3rem;
  	color: #96D9FC;
  	width: 90%;
  	height: 25%;
  	font-family: KorolevBold;
  	display: flex;
    align-items: flex-end;
  }

  .box4-atividades {
  	width: 80%;
  	display: flex;
  	justify-content: flex-end;
  }  
  @media (max-width: 768px) {
	.box4-atividades {
		width: 100%;
	}

  .box4 {
  	width: 100%;
  	height: 75vh;
	font-size: 1.2rem;
  	background-color:#A6538D;
  	display: flex;
  	justify-content: space-around;
  	flex-direction: column;
  	align-items: center;
  }

.box-texto1 {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
.texto1 {
	color: white;
	font-family: KorolevMedium;
	width: 45%;
	justify-content: space-around;
	align-items: center;
  }

.texto2 {
	color: #FDCD27;
	font-family: KorolevMedium;
	justify-content: space-around;
	align-items: center;
  }
.caixa-fim {
	height: 28vh;
    display: flex;
    align-items: flex-end;
}

.fim {
	width: 70vw;
    height: 22vh;
    display: flex;
    font-size: 0.8rem;
    align-items: center;
}

.logo4 {
	width: 3rem;
	height: 3rem;
  }


/* Slider */

.slide{
	width: 60%;
  } 

.box-slide {
	width: 100%; 
	height: 100.6%;
	display: flex;
   	justify-content: center;
    align-items: flex-end;
  }

  @media (max-width: 768px) {
  	.slide-box {
  		width: 100%;

  	}
  }

.slide-seta {
	color: #FDCD27;
	font-size: 1.5rem;
	cursor:pointer;
 }

 .botao-texto{
 	display: flex;
 	align-items: center;
 	font-family: KorolevLight;
 	font-size: 0.6rem
 }

.slide-foto{
	width: 133.2%;
 }